<!DOCTYPE html>
<html>
<head>
  <title>Clinic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to 'New doctor', new_doctor_path %>
	<%= link_to 'New patient', new_patient_path %>
	<%= link_to 'New appointment', new_appointment_path %>
<%= yield %>

</body>
</html>
